<div class ="container">
  <div class="jumbotron bg-white">
    <div class="container">
      <row>
        <h1 class ="text-center">Come Hungry. Leave Hating Yourself.</h1>
      </row>
      <br>
      <form action="/burgers" method="POST">
      <div class ="form-row">
        <div class="col-3"></div>
        <div class = "col">
          <input type="text" name="burger_name" class ="form-control" placeholder="What d'ya want?">
        </div>
        <button type="submit" class="btn btn-primary">Order Up!</button>
        <div class="col-3"></div>
      </div>
      </form>

      <br>
      <div class="row">
        <div class="col-m-6">
          {{!-- Uneaten --}}
          <h2><u>Ordered Burgers</u></h2>
          <ul class="list-group" id="uneaten">
              {{#each burgers}}
                <li>
                  <p>{{this.burger_name}}</p>
                </li>
              {{/each}}
            {{!-- {{#each burgers}} --}}
            {{!-- {{#unless devoured}} --}}
          </ul>
          <h3>You better finish what you started!</h3>
        </div>

        <div class="col-m-3 offset-md-3">
          {{!-- Eaten --}}
          <h2><u>Burgers Demolished</u></h2>
          <ul class="list-group" id="eaten">
            {{!-- {{#each burgers}} --}}
            {{!-- {{#if devoured}} --}}
          </ul>
          <h3>Well done champ!</h3>
        </div>
      </div>
    </div>
  </div>
</div>